<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lulucar.element.mapper.CartMapper">
    <resultMap type="Cart" id="cartResultMap">
        <id column="cartId" property="cartId"/>
        <result column="foodId" property="foodId"/>
        <result column="businessId" property="businessId"/>
        <result column="userId" property="userId"/>
        <result column="quantity" property="quantity"/>
    </resultMap>
    
    
    <select id="listCart" resultMap="cartResultMap">
        SELECT * FROM cart
        where userId = #{userId}
        
        <if test="businessId != null">
            and businessId = #{businessId}
        </if>

        ORDER BY cartId DESC
    </select>
    
    <delete id="deleteCart" >
        DELETE FROM cart
        WHERE
            userId = #{userId} AND businessId = #{businessId}
            <if test="foodId != null">
                AND foodId = #{foodId}
            </if>
       
    </delete>
</mapper>
